/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  /* .home-container {
    padding: 20px;
  } */
  
  /* Hero Section */
  .hero-section {
    position: relative;
    width: 100%;
    background-color: #e9f5e0;
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
  }
  
  .hero-section img {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .hero-section h1,
  .hero-section p {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .fade-in {
    animation: fadeIn 2s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .hero-section .btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #3c763d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .hero-section .btn:hover {
    background-color: #2b5c2b;
  }
  
  /* Features Section */
  .features-section {
    text-align: center;
    margin-top: 40px;
  }
  
  .features h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .features {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .feature-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .feature-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .feature-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .feature-item h3 {
    margin: 10px 0;
    color: #333;
  }
  
  .feature-item p {
    font-size: 1rem;
    color: #666;
  }
  
 
  
  /* Footer Section */
  .created-by-section {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    color: #666;
    
  }
  
  .created-by-section strong {
    color: #3c763d;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .features {
      flex-direction: column;
      align-items: center;
    }
  
    .feature-item {
      width: 80%;
      margin-bottom: 20px;
    }
  
    .contact-input {
      width: 80%;
    }
  }
  